# soft links
meshdata
experiments
graspdata
dataset

# Caches
__pycache__

# TYLER ADDITIONS
data/*
*cluster*
thirdparty
wandb
html_outputs
*.swp
tyler_run_scripts

# PRESTON ADDITIONS
*.npy
*.mp4
*.html
